* {
    font-family: 'Gowun Dodum', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 8px 12px;
    --text-color: black;
    margin: 3px 0;
    /*font-size: 18px;*/
}

#title_a {
    text-decoration: none;
    color: black;
    border: 3px;
    font-size: 30px;

}

#title_a:hover {
    color: brown;
}

.mytitle {
    width: 100%;
    height: 400px;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('http://www.casenews.co.kr/news/photo/202202/10630_22036_4230.jpg');
    background-position: center;
    background-size: cover;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mytitle > p{
    font-size: 50px;
    -webkit-text-stroke-width: 3px;
}

#game-title {
    background-position: center;
    background-size: cover;
    /*background-image: url("https://cdn.gamemeca.com/gmdb/g000/26/18/221151(3).jpg");*/

}

.mybox {
    width: 95%;
    max-width: 700px;
    padding: 20px;
    /*border: black 1px solid;*/
    box-shadow: 0px 0px 10px 0px lightblue;
    margin: 20px auto;
}

.mycomment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mycomment > input {
    width: 70%;
}

.mybox > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-bottom: 10px;
    min-height: 48px;
}

.mybox > li > h2 {
    max-width: 75%;
    font-size: 20px;
    font-weight: 500;
    margin-right: auto;
    margin-bottom: 0px;
}

.mybox > li > h2.done {
    text-decoration: line-through;
}

/*#card_title{*/
/*    font-size: 30px;*/
/*}*/