* {
  font-family: 'Gowun Dodum', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 8px 12px;
    --text-color: black;
    margin: 3px 0;

}

#title_a {
    text-decoration: none;
    color: black;
    border: 3px;
    font-size: 30px;
    font-weight: bold;
}

#title_a:hover {
    color: brown;
}

#list_a {
    text-decoration: none;
    color: black;
    border: 3px;
}

#list_a:hover {
    color: brown;
}

.mytitle {
    width: 100%;
    height: 400px;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('http://www.casenews.co.kr/news/photo/202202/10630_22036_4230.jpg');
    background-position: center;
    background-size: cover;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mytitle > p{
    font-size: 50px;
    -webkit-text-stroke-width: 3px;
}
.mycards {
    margin: 20px auto 0px auto;
    width: 95%;
    max-width: 1200px;
    /*align-content: center;*/

}


.table th,td {
   /*text-align: center;*/
    vertical-align:middle;
}

#intro {

    display: flex;
    align-items: center;


}